//- Sidenav
//- -----------------------------

md-sidenav.gp-sidenav.md-sidenav-left.md-whiteframe-glow-z1(
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-md')"
)


  //- Sidenav Toolbar
  //- -----------------------------

  md-toolbar.nav-toolbar.md-tall.md-whiteframe-z5
    .md-toolbar-tools
      span(flex)
      md-button.md-icon-button(
        ng-click="vm.toggleSidenav()"
        hide-gt-md
        aria-label="Toggle Sidenav"
      )
        md-icon.material-icons menu
    .md-toolbar-tools.md-toolbar-tools-bottom
      span(flex)


  //- Sidenav Content
  //- -----------------------------

  md-content.nav-content(
    flex
    role="navigation"
  )


//- Site Main
//- -----------------------------

main.gp-main(
  tabIndex="-1"
  role="main"
)


  //- Site Toolbar
  //- -----------------------------

  md-toolbar.main-toolbar.md-whiteframe-z2
    .md-toolbar-tools
      md-button.md-icon-button(
        ng-click="vm.toggleSidenav()"
        hide-gt-md
        aria-label="Toggle Sidenav"
      )
        md-icon.material-icons menu


  //- Site Content
  //- -----------------------------

  md-content.main-content(
    flex
    ui-view
  )
